 /*--------------------
    SECTION NAV
--------------------*/

#section-nav-wrap {
	background-color: #fafafa;
	.row {
		@media screen and (max-width: $screen-xs-max) {
			margin: 0;
		}
	}
}

#section-nav {
	height: 40px;
	padding-top: 12px;
	
	p {
		font-size: 11px / 16px * 1em;
		font-weight: $medium;
		font-family: $paragraph-font;
		color: $paragraph;
		
		a {
			font-weight: $medium;
			
			&:hover {
				text-decoration: underline;
			}
		}
	}
}